@import "tailwindcss";

@layer base {
	h1, h2, h3, h4, h5, p {
		@apply text-gray-900;
	}
	
	body {
		@apply bg-indigo-50;
	}
}

.app-name {
	@apply font-bold underline decoration-2 decoration-indigo-500;
}

.homepage-link {
	@apply px-1 text-indigo-600 hover:underline hover:decoration-2 hover:text-indigo-800 hover:bg-indigo-100;
}

.content {
	@apply mx-auto p-10 my-10 max-w-4xl bg-gray-50 rounded-lg shadow-xl overflow-hidden;
}

.btn-return {
	@apply text-xs inline-flex items-center border border-indigo-300 px-3 py-1 rounded-md text-indigo-500 hover:bg-indigo-50;
	position:absolute; margin-top:-25px;
	
	span { @apply ml-1; }
	svg { @apply w-3 h-3; }
	
}

select.column-select {
	@apply py-2 px-3 block w-full border-2 border-gray-500 rounded-full text-sm focus:border-indigo-500 focus:ring-indigo-500;
}

table.overview-table > tbody > tr {
	@apply odd:bg-gray-50 even:bg-indigo-50 odd:hover:bg-gray-100 even:hover:bg-indigo-100;
}

table.overview-table > tbody > tr > td {
	@apply !shadow-none;
}

table.overview-table > thead {
	@apply text-sm text-gray-800 uppercase bg-indigo-200;
}